@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechCraftsman's Hub</title>
    <link rel="stylesheet" href="~/css/styleSheet.css">
</head>
<body>
    <header>
        <h1>Pranadarth</h1>
        <p>Windows App Developer &amp; Web Development Enthusiast</p>
    </header>

    <section>
        <h2>About Me</h2>
        <p>
            Hi there! I'm Pranadarth, also known as the TechCraftsman. I have a background in Windows application development using C# with WPF, where I specialized in creating various games, especially poker games. My expertise includes 2D and 3D animations, as well as crafting complex UI and UX designs.
        </p>
        <p>
            Currently, I'm delving into the world of web development, exploring HTML, CSS, JavaScript, and C#. I enjoy learning about new technologies, gadgets, and watching series, anime, and movies—especially those in the sci-fi, superhero, fantasy, thriller, and crime thriller genres.
        </p>
        <p class="interests">
            Interests: Coding, Developing Sample Applications, Technology, Hacking (aspiring to learn more)
        </p>
    </section>

   
</body>
</html>

